<%= form_with(model: comunicado, local: true) do |form| %>
  <% if comunicado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comunicado.errors.count, "error") %> prohibited this comunicado from being saved:</h2>

      <ul>
      <% comunicado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creador_id %>
    <%= form.number_field :creador_id %>
  </div>

  <div class="field">
    <%= form.label :receptor_id %>
    <%= form.number_field :receptor_id %>
  </div>

  <div class="field">
    <%= form.label :asunto %>
    <%= form.text_field :asunto %>
  </div>

  <div class="field">
    <%= form.label :contenido %>
    <%= form.text_field :contenido %>
  </div>

  <div class="field">
    <%= form.label :comunicado_anterior_id %>
    <%= form.number_field :comunicado_anterior_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
