<p id="notice"><%= notice %></p>

<h1>Comunicados</h1>

<table>
  <thead>
    <tr>
      <th>Creador</th>
      <th>Receptor</th>
      <th>Asunto</th>
      <th>Contenido</th>
      <th>Comunicado anterior</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comunicados.each do |comunicado| %>
      <tr>
        <td><%= comunicado.creador_id %></td>
        <td><%= comunicado.receptor_id %></td>
        <td><%= comunicado.asunto %></td>
        <td><%= comunicado.contenido %></td>
        <td><%= comunicado.comunicado_anterior_id %></td>
        <td><%= link_to 'Show', comunicado %></td>
        <td><%= link_to 'Edit', edit_comunicado_path(comunicado) %></td>
        <td><%= link_to 'Destroy', comunicado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comunicado', new_comunicado_path %>
