<p id="notice"><%= notice %></p>

<p>
  <strong>Creador:</strong>
  <%= @comunicado.creador_id %>
</p>

<p>
  <strong>Receptor:</strong>
  <%= @comunicado.receptor_id %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @comunicado.asunto %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @comunicado.contenido %>
</p>

<p>
  <strong>Comunicado anterior:</strong>
  <%= @comunicado.comunicado_anterior_id %>
</p>

<%= link_to 'Edit', edit_comunicado_path(@comunicado) %> |
<%= link_to 'Back', comunicados_path %>
